@font-face {
  font-family: Folkard;
  src: url('../font/FOLKARD.ttf');
}

/* general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  color: #555;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.9em;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  background-color: #E4D5C3;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover {
  background-color: #8B8B55; 
  color: #E4D5C3;
  transition: ease-in-out 0.2s;
}

.btn-reverse {
  background-color: #333;
  color: #E4D5C3 ;
}

.container {
  display: block;
  max-width: 1200px;
  margin: auto;
}

.underline {
  padding-bottom: 10px;
  border-bottom: #8B8B55 solid 1px;
  margin-bottom: 20px;
}

/* header styles */

.header {
  background-color: #333;
  overflow: auto;
  line-height: 1.7em;
}

.header > nav > h1 {
  float: left;
  padding: 20px 0px 0px 50px;
}

.header > nav > h1 > a {
  font-family: Folkard;
  font-size: 32px;
  color: #E4D5C3;
}

.header > nav > ul {
  float: right;
  list-style: none;
}

.header > nav > ul > li {
  float : left;
}

.header > nav > ul > li > a {
  padding: 20px 20px 20px 20px;
  color: #E4D5C3;
  display: block;
}

.header > nav > ul > li > a:hover {
  background-color: #E4D5C3;
  color: #333;
}

.active {
  background-color: #E4D5C3;
  color: #333 !important;
}

/* main styles */

.main {
  height: 100vh;
  background: url(../img/background.jpg);
  background-size: cover;
}

.content {
  max-width: 450px;
  padding-top: 450px;
  display: block;
  margin: auto auto auto auto;
  text-align: center;
}

.content > h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #8B8B55;
}

.content > p {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #8B8B55;
}

.fa-chevron-down {
  font-size: 40px;
  color: #E4D5C3;
  margin: auto auto auto auto;
  text-align: center;
  padding: 35px 0px 10px 0px;
}

/* infos styles */

.infos {
  overflow: auto;
  padding: 80px 0px 80px 0px;
  text-align: center;
}

.element {
  width: 50%;
  float: left;
}

.element > p, i {
  padding: 10px 0px 10px 0px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

i {
  color: #8B8B55;
}

/* reservation section */

.restaurant {
  height: 350px;
  background: url(../img/table.jpg) center center;
  background-size: cover;
}

.booking {
  padding: 80px 0px 80px 0px;
  text-align: center;
}

.container-booking {
  max-width: 600px;
  display: block;
  margin: auto auto auto auto;
  text-align: center;
}

.container-booking > p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* where styles */

.where {
  padding: 180px 0px 80px 0px;
  overflow: auto;
  min-height: calc(100vh - 130px);
}

.where-img {
  float: left;
  width: 40%;
  border-radius: 15px;
}

.where-text {
  float: right;
  width: 50%;
  margin: 20px 0px 0px 0px;
}

.where-icon {
  padding: 0px 20px 0px 0px;
  color: #E4D5C3;
}

/* contact styles */

.contact {
  padding: 100px 0px 80px 0px;
  min-height: calc(100vh - 130px);
}

.contact-form {
  max-width: 600px;
  margin: auto auto auto auto;
}

.contact-form > form > label {
  font-weight: bolder;
  display: block;
  margin-bottom: 10px;
}

.contact-form > form > input, textarea {
  display: block;
  width: 100%;
  padding: 15px 20px 15px 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

button {
  border: none;
}

/* footer styles */

footer {
  background-color: #333;
  color: #E4D5C3;
  padding: 20px 0px 20px 0px;
  text-align: center;
}
